body{
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
        ;
}

/* */


/* */
main{
    grid-area: main;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

footer{
    grid-area: footer;
}

@media screen and (max-width:560px){
    body{
        
        grid-template-areas: 
            "header"
            "main"
            "footer"
            "nav"
            ;
    }
    
    nav ul li{
        width: 90%;
        height: auto;
        display: block;
        /* display: flex;
        flex-direction: column; */
    }
    li.nav-bar a{
        
        display: block;
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
        box-sizing: border-box;

    }
}