body{
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
}

main{
    grid-area: main;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

footer{
    grid-area: footer;
}

@media (min-width:480){
    body{
        
        grid-template-areas: 
            "header"
            "main"
            "nav"
            "footer";
    }
}