/* @import url("layout.css"); */

body {
  font-family: "Lucida Console", "Courier New", monospace;
  background: linear-gradient(to right, rgb(189, 189, 255), rgb(255, 233, 236));
  padding: 0;
  margin: 10px;
  overflow: scroll;
  scroll-behavior: smooth;
}

/* tabla */
table {
  margin: 0 10px;
}
th {
  border: 2px solid;
  padding: 5px 10px;
}
tr td {
  border: 2px solid;
  padding: 5px 10px;
}

td.tabla {
  text-align: right;
}
/*--------------------------*/

header {
  text-align: center;
}

ul {
  /* list-style-type: none; */
  padding: 15px;
  display: block;
}

ul#nav-bar {
  list-style-type: none;
  margin: 0 0 10px;
  padding: 10;
  overflow: hidden;
  background-color: #333;
}

/* li{
    float: left;
} */

ol.item {
  list-style-type: none;
  padding: 15px;
}

li.nav-bar {
  float: left;
}

li a {
  /* display: block; */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #92a4ff;
}

a.titulo {
  text-decoration: none;
}

h1 {
  background-color: black;
  padding: 10px;
  margin: 0;
  color: #92a4ff;
}

h2 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
img {
  width: 50%;
}
/* centrado de imagen en index */
/* div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
    padding: 0px;
} */

h3 {
  padding: 150px;
  background-image: url("../assets/img/piramide-nutricional.jpg");
  background-position: center;
  background-size: cover;
  text-shadow: 0 0 0.5rem gray;
}
/* fin  */

/* .imagen {
    float:none;
    margin:0;
    max-width: 50%;
    height: auto;
} */

/* .image2 {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 25%;
    height: auto;
} */

.article {
  float: left;
  width: 70%;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
}
/* +++++++++++++++++++++++++++++++++++++++++++++ */
/* formulario */

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div.contenedor-formulario {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Estilo base del menú */
nav {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
}

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar {
  margin-right: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  display: block;
  padding: 10px;
}

.nav-bar a:hover {
  color: #ff5733;
}

/* Estilos para pantallas pequeñas (por ejemplo, teléfonos) */
@media (max-width: 768px) {
  .nav-bar {
    margin-right: 0;
  }

  /* Estilo del menú desplegable */
  .menu-toggle-label {
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
  }

  #menu-toggle-checkbox {
    display: none;
  }

  #menu-toggle-checkbox:checked ~ ul {
    display: block;
  }

  #nav-bar {
    display: none;
  }
}

/* Media query para tamaños de pantalla más grandes (PC y tablet) */
@media (min-width: 768px) {
  #menu-toggle-checkbox,
  .menu-toggle-label {
    display: none; /* Ocultar en pantallas más grandes */
  }
}

/* Estilo para la tabla */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 2px solid #000;
}

th,
td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  border: 2px solid #000;
}

/* Estilos para la lista ordenada (ol) */
ol {
  list-style-type: decimal; /* Tipo de numeración */
  font-size: 18px; /* Tamaño de fuente */
  margin-left: 20px; /* Margen izquierdo para indentación */
  padding-left: 20px; /* Relleno izquierdo para indentación */
}

/* Estilos para los elementos de la lista (li) */
li {
  margin-bottom: 10px; /* Espacio entre elementos de la lista */
  line-height: 1.5; /* Altura de línea para un espaciado adecuado */
}

li {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Agregar sombra */
}

li {
  border-left: 4px solid #007bff; /* borde izquierdo */
  padding-left: 10px; /* + espacio al lado izquierdo del texto */
}

/* Estilo para el último elemento de la lista */
li:last-child {
  font-style: italic; /* Hacer cursiva el último elemento */
}

h4 {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Cambiar el color del texto a un gris oscuro */
  text-transform: uppercase; /* Convertir el texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  margin-bottom: 15px; /* Espacio inferior ligeramente mayor */
  border-bottom: 2px solid #007bff; /* Línea inferior con color */
  padding-bottom: 5px; /* Espacio entre el texto y la línea inferior */
}

p.sub {
  font-size: 18px; /* Tamaño de fuente */
  font-weight: normal; /* Estilo de fuente normal (no negrita) */
  color: #f8f8f8; /* Color de texto gris oscuro */
  margin: 10px 0; /* Espacio en los márgenes superior e inferior */
  padding: 10px; /* Relleno interno para separar el contenido del borde */
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 9, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  ); /* Color de fondo gris claro */
  border: 1px solid #ccc; /* Borde del párrafo */
  border-radius: 5px; /* Bordes redondeados */
}
